$bg-grey: #323232;
$white: White;
$bg-principal: #181818;
$border-warning: #9E0000;

.LoginPage {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .logo {
    margin-bottom: 20px;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      padding: 10px 0 10px 5px;
    }

    input {
      background-color: $bg-grey;
      width: 80vw;
      height: 40px;
      border: none;
      padding-left: 15px;
      color: $white;

      &.error {
        border: 1px solid $border-warning;
      }
    }

    .bttn-submit {
      border: none;
      background-color: $bg-principal;
    }

    button {
      margin-top: 20px;
      align-self: center;
    }
  }
}

