$bg-grey: #323232;
$bg-orange: #AE5604;

.BttnsConfirmarRejeitar {
  display: flex;
  justify-content: space-between;

  .BttnConfirmar {
    display: flex;
    align-items: center;
    width: 75vw;
    height: 46px;
    padding-left: 15px;
    margin-right: 10px;
    background-color: $bg-grey;

    span {
      padding-left: 10px;
    }

    &:hover, &:active {
      background-color: $bg-orange;
    }
  }

  .BttnRejeitar {

    :hover, :active {
      background-image: url("../../assets/icons/reject_active.svg");
    }
  }
}

.BttnLeftArrowActive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-grey;
  width: 46px;
  height: 46px;
  transform: rotate(180deg);

  &:hover, &:active {
    background-color: $bg-orange;
  }
}

.BttnLeftArrowGreyed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-grey;
  width: 46px;
  height: 46px;
  transform: rotate(180deg);
  opacity: 50%;

}

.BttnRightArrowActive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-grey;
  width: 46px;
  height: 46px;

  &:hover, &:active {
    background-color: $bg-orange;
  }
}

.BttnRightArrowGreyed {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-grey;
  width: 46px;
  height: 46px;
  opacity: 50%;

}
