$bg-principal: #181818;

.Confirmation, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;

  .overlay {
    background: rgba(49, 49, 49, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .confirmation-content {
      position: absolute;
      width: 90%;
      line-height: 1.4;
      background: #181818;
      padding: 14px 28px;

      .user-details {
        display: flex;
        flex-wrap: wrap;
        height: 90px;
        margin-left: auto;
        align-content: center;

        div {
          width: 50%;

          &:nth-child(odd) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 800;
            padding: 4px 0 4px 28px;
          }

          &:nth-child(even) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 4px 30px 4px 0;
          }
        }
      }
    }
  }
}

body.active-modal {
  overflow-y: hidden;
}

