.LogoGreyed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;

  span {
    margin-left: 20px;
  }
}

.logo-large, .logo-small, .logo-grey {
  background-repeat: no-repeat;
}

.logo-grey {
  width: 39px;
  height: 50px;
}