$bg-grey: #323232;
$bg-principal: #181818;


.CardFestival, .CardFestivalPurchasedHomePage, .CardFestivalPurchasedTickets, .FestivalHeaderPicture {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;

  .info-container-2 > .middle-item {
    padding-bottom: 5px;
  }

  .bg-circle-small {
    z-index: 2;
    bottom: 20px;
    right: 20px;
  }
}

.CardFestival {
  height: 80vw;
}

.CardFestivalPurchasedHomePage, .CardFestivalPurchasedTickets {
  display: flex;
  flex-direction: column;
  height: 45vw;
}

.CardFestivalPurchasedTickets {

  .info-container-1 {
    justify-content: flex-end;
  }
}

.FestivalHeaderPicture {
  height: 70vw;

  .info-container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.FinalPurchaseBox, .CashlessCreditBox {
  background-color: $bg-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 20px;

}


.FinalPurchaseBox {

  span {
    margin-right: auto;
    padding-left: 10px;
  }
}

.CashlessCreditBox {

  > span:first-of-type {
    margin-right: auto;
    padding-left: 10px;
  }

  > span:last-of-type {
    margin-left: auto;
  }
}

.ArtistHeaderPicture {
  width: 100%;
  height: 190px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .header-box {
    display: flex;
    width: 100%;
    height: 160px;
    overflow: hidden;
    background-color: $bg-principal;

    .bg-artist-picture {
      position: relative;
      background-size: cover;
      background-position: center;
      width: 70%;
      margin-left: auto;
      transform: scale(1.3);
      filter: blur(6px);
      z-index: 1;

      .gradient-to-left {
        z-index: 2;
      }
    }

    .info-container-3 {
      z-index: 3;
      align-self: center;
    }

    .picture-title {
      display: flex;
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 25px;

      .artist-picture-box {
        width: 170px;
        height: 170px;
        background-size: cover;
        background-position: center;
      }
    }

    .bg-circle-small {
      bottom: 45px;
      right: 20px;
      z-index: 3;
    }
  }
}