$bg-grey: #323232;
$grey: #A0A0A0;


.ListFestivalFavoutireBttn,
.ListFestivalTicketBttn,
.ListFestivalInfoBttn,
.ListArtist,
.ListConcerto,
.ListBilheteCompact,
.ListBilhete {

  background-color: $bg-grey;
  height: 80px;
  margin-bottom: 10px;

  a, .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .gradient-to-left {
      z-index: 1;
    }

    .bg-mask {
      width: 100%;
      max-width: 80px;
      height: 80px;
      z-index: 2;
    }

    .info-container-3 {
      z-index: 2;
    }
  }

  .bg-circle-small {
    margin-top: 23px;
    right: 45px;
    z-index: 3;
  }

  a:hover > .gradient-to-left, a:active > .gradient-to-left {
    background-image: linear-gradient(to left, #AE5604, #181818);
    z-index: 1;
  }

  .container:hover > .gradient-to-left, .container:active > .gradient-to-left {
    background-image: linear-gradient(to left, #AE5604, #181818);
    z-index: 1;
  }

  .bg-circle-small:hover ~ a > .gradient-to-left, .bg-circle-small:active ~ a > .gradient-to-left {
    background-image: linear-gradient(to left, #AE5604, #181818);
    z-index: 1;
  }
}

.ListConcerto {
  position: relative;
}

.ListBilhete {


  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    .gradient-to-left {
      z-index: 1;
    }

    .bg-mask {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 80px;
      height: 80px;
      z-index: 2;

      .ticket-large-active {
        position: absolute;
        width: 45px;
        height: 45px;
      }
    }

    .info-container-3 {
      z-index: 2;
    }
  }

  .box-bg-principal {
    position: absolute;
    right: 20px;
    z-index: 2;
  }

  &.unavailable {
    color: $grey;
    pointer-events: none
  }

  .ticket-grey {
    opacity: 50%;
  }
}


.ListBilheteCompact {
  background-color: $bg-grey;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .gradient-to-left {
    z-index: 1;
  }

  .info-container-3 {
    z-index: 2;
  }

  .bg-mask {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    height: 60px;
    width: 100%;
    z-index: 2;

    .ticket-small-active {
      position: absolute;
      background-position: center;
      background-size: cover;
      width: 30px;
      height: 30px;
    }
  }

  .bg-circle-small {
    right: 20px;
    z-index: 2;
  }

  .box-bg-principal {
    position: absolute;
    right: 20px;
    z-index: 2;
  }
}