.no-repeat {
  background-repeat: no-repeat;
  background-size: cover;
}

.arrow {
  background-image: url("icons/arrow.svg");
  width: 20px;
  height: 18px;
}

.card_small {
  background-image: url("icons/card_small.svg");
  width: 31px;
  height: 25px;
}

.card_large {
  background-image: url("icons/card_large.svg");
  width: 46px;
  height: 37px;
}

.cash {
  background-image: url("icons/cash.svg");
  width: 20px;
  height: 15px;
}

.check {
  background-image: url("icons/check.svg");
  width: 20px;
  height: 17px;
}

.heart-full {
  background-image: url("icons/heart_full.svg");
  width: 16px;
  height: 14px;
}

.heart-open {
  background-image: url("icons/heart_open.svg");
  width: 16px;
  height: 16px;
}

.home {
  background-image: url("icons/home.svg");
}

.home-active {
  background-image: url("icons/home_active.svg");
}

.info {
  background-image: url("icons/info.svg");
  width: 8px;
  height: 15px;
}

.login-icon {
  background-image: url("icons/login.svg");
  width: 46px;
  height: 46px;
}

.plus {
  background-image: url("icons/plus.svg");
  width: 22px;
  height: 22px;
}

.qr {
  background-image: url("icons/qr.svg");
  width: 21px;
  height: 21px;
}

.reject {
  background-image: url("icons/reject.svg");
  width: 46px;
  height: 46px;
}

.reject-active {
  background-image: url("icons/reject_active.svg");
  width: 46px;
  height: 46px;
}

.search {
  background-image: url("icons/search.svg");
  width: 20px;
  height: 20px;
}

.search-active {
  background-image: url("icons/search_active.svg");
}

.shopping-bag {
  background-image: url("icons/shopping_bag.svg");
  width: 29px;
  height: 31px;
}

.ticket-large {
  background-image: url("icons/ticket_large.svg");
  width: 45px;
  height: 45px;
}

.ticket-large-active {
  background-image: url("icons/ticket_large_active.svg");
}

.ticket-small {
  background-image: url("icons/ticket_small.svg");
  width: 19px;
  height: 19px;
}

.ticket-small-active {
  background-image: url("icons/ticket_small_active.svg");
  width: 19px;
  height: 19px;
}

.user {
  background-image: url("icons/user.svg");
}

.user-active {
  background-image: url("icons/user_active.svg");
}

.warning-yellow {
  background-image: url("icons/warning_yellow.svg");
  width: 24px;
  height: 24px;
}

.warning-white {
  background-image: url("icons/warning_white.svg");
  width: 27px;
  height: 27px;
}

