
.logo-small {
  background-image: url("logo_small.svg");
  width: 97px;
  height: 124px;
}

.logo-large {
  background-image: url("logo_large.svg");
  width: 180px;
  height: 230px;
}

.logo-grey {
  background-image: url("logo_grey.svg");
}

.sonar-2024 {
  background-image: url("images/sonar_24.jpg")
}

.brunch {
  background-image: url("images/brunch.jpg");
}

.somnii-2024 {
  background-image: url("images/somnii_24.jpg");
}

.tomorrowland {
  background-image: url("images/tomorrowland.jpg");
}


.timmy-trumpet {
  background-image: url("images/timmy.jpg");
}

.oliver-heldens {
  background-image: url("images/oliver.jpg");
}

.blasterjaxx {
  background-image: url("images/blasterjaxx.jpg");
}

.amelie {
  background-image: url("images/amelie.jpg");
}

.hardwell {
  background-image: url("images/hardwell.jpg");
}